{% extends "shop/base.html" %}
{% load static %}
{% block title %}Корзина{% endblock %}
{% block content %}
    <section class="cart_area padding_top">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Товар</th>
                            <th scope="col">Ціна</th>
                            <th scope="col">Кількість</th>
                            <th scope="col">Всього</th>
                            <th scope="col">Видалити</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart %}
                            {% with product=item.product %}
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img id="product-image-detail"
                                                     src="
                                                             {% if product.productimage_set %}{{ product.productimage_set.first.image.url }}
{% else %}{% static "img/no_image.png" %}{% endif %}">
                                            </div>
                                            <div class="media-body">
                                                <p>{{ product.name }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>{{ product.price }}</h5>
                                    </td>
                                    <td>
                                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                                            {{ item.update_quantity_form.quantity }}
                                            {{ item.update_quantity_form.update }}
                                            {#                                            <input type="submit" value="Оновити">#}
                                            <button class="btn btn-primary" type="submit">Оновити</button>
                                            {% csrf_token %}
                                        </form>
                                    </td>
                                    <td>
                                        <h5>{{ item.total_price }}</h5>
                                    </td>
                                    <td><a href="{% url "cart:cart_remove" product.id %}">Видалити</a></td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                        {% if cart.coupon %}
                            <tr class="subtotal">
                                <td>Всього</td>
                                <td colspan="4"></td>
                                <td class="num">${{ cart.get_total_price|floatformat:"2" }}</td>
                            </tr>
                            <tr>
                                <td>
                                    "{{ cart.coupon.code }}" купон
                                    ({{ cart.coupon.discount }}% знижки)
                                </td>
                                <td colspan="4"></td>
                                <td class="num neg">
                                    - ${{ cart.get_discount|floatformat:"2" }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr class="total">
                            <td>До оплати</td>
                            <td colspan="4"></td>
                            <td class="num">
                                ${{ cart.get_total_price_after_discount|floatformat:"2" }}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    {#coupon#}

                    {#                    <p>Активуйте купон:</p>#}
                    <form action="{% url "coupons:apply" %}" method="post">
                        <h3>Активуйте купон</h3>
                        {{ coupon_apply_form }}
                        <input class="btn_4" type="submit" value="Активувати">
                        {% csrf_token %}
                    </form>

                    {#coupon#}

                    <div class="checkout_btn_inner float-right">
                        <a class="btn_1" href="{% url "shop:product_list" %}">Продовжити покупки</a>
                        <a class="btn_1 checkout_btn_1" href="{% url "orders:order_create" %}">Оформити замовлення</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}