{% extends "shop/base.html" %}
{% block title %}
    Дякуємо
{% endblock %}
{% block content %}
    <section class="confirmation_part padding_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="confirmation_tittle">
                        <span>Дякуємо :)Ваше замовлення в обробці. Чекайте дзвінка оператора.</span>
                    </div>
                </div>
                <div class="col-lg-6 col-lx-4">
                    <div class="single_confirmation_details">
                        <h4>Інформація про замовлення</h4>
                        <ul>
                            <li>
                                <p>Номер замовлення</p><span> {{ order.id }}</span>
                            </li>
                            <li>
                                <p>Дата/час замовлення</p><span> {{ order.created }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-lx-4">
                    <div class="single_confirmation_details">
                        <h4>Контактні данні покупця</h4>
                        <ul>
                            <li>
                                <p>Імя</p><span>{{ order.first_name }}</span>
                            </li>
                            <li>
                                <p>Прізвище</p><span>{{ order.last_name }}</span>
                            </li>
                            <li>
                                <p>Адреса</p><span>{{ order.address }}</span>
                            </li>
                            <li>
                                <p>Номер телефону</p><span>{{ order.phone }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn_1" href="{% url "shop:product_list" %}">На головну сторінку</a>
    </section>
{% endblock %}