{% load static %}
<footer class="footer_part">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-6 col-lg-4">
                <div class="single_footer_part">
                    <h4>Покупцю</h4>
                    <ul class="list-unstyled">
                        <li><a href="{% url "shop:terms" %}">Умови використання сайту</a></li>
                        <li><a href="">Кнопка2</a></li>
                        <li><a href="">Кнопка3</a></li>
                        <li><a href="">Кнопка4</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_footer_part">
                    <h4>Контакти</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">м.Львів вул.Б.Хмельницького 176</a></li>
                        <li><a href="tel:+380666732266"><strong>+38(066)673-22-66</strong></a></li>
                        <li><a href="mailto:test@mail.com"><strong>test@mail.com</strong></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_footer_part">
                    <h4>E-mail розсилка</h4>
                    <p>Підпишіться на нашу розсилку щоб бути в курсі усіх подій
                    </p>
                    <div id="mc_embed_signup">
                        <form target="_blank"
                              action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                              method="get" class="subscribe_form relative mail_part">
                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email адреса"
                                   class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = ' Email адреса '">
                            <button type="submit" name="submit" id="newsletter-submit"
                                    class="email_icon newsletter-submit button-contactForm">підписатись
                            </button>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="copyright_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="copyright_text">
                        <P><
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            Всі права захищено <i class="ti-heart" aria-hidden="true"></i>
                            by <a href="http://led-lamps.lviv.ua" target="_blank">bbq.lviv.ua</a>
                        </P>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer_icon social_icon">
                        <ul class="list-unstyled">
                            <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--::footer_part end::-->