{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Умови використання сайту
{% endblock %}
{% block content %}


    <div class="container terms section-top-border">
        <div class="terms-1">
            <h1>Умови використання сайту</h1>
            <h3>Увага! Перед переглядом цього сайту уважно прочитайте ці умови. Якщо ви не згодні з цими
                умовами, не
                використовуйте цей сайт.</h3>
            <hr>
        </div>
        <div class="terms-2">
            <div class="typography">
                <h3>Використання сайту</h3>
                Сайт bbq.lviv.ua (далі «BBQ») дозволяє вам переглядати та завантажувати матеріали цього
                сайту (далі «Сайт») тільки для особистого некомерційного використання, за умови збереження вами всієї
                інформації про авторське право та інших відомостей про право власності, що містяться у вихідних
                матеріалах і будь-яких їхніх копіях. Заборонено змінювати матеріали цього Сайту, а також поширювати або
                демонструвати їх у будь-якому вигляді або використовувати їх будь-яким іншим чином для суспільних чи
                комерційних цілей. Будь-яке використання цих матеріалів на інших сайтах або в комп’ютерних мережах
                заборонено.
                <h3>Відмова від відповідальності</h3>
                Матеріали та послуги цього сайту надаються «як є» без жодних гарантій. BBQ не гарантує
                точності та повноти матеріалів, програм і послуг, що надаються на цьому Сайті. BBQ в будь-який
                час без повідомлення може вносити зміни в матеріали та послуги, що надаються на цьому Сайті, а також у
                згадані в них продукти та ціни. У разі, якщо матеріали та послуги на цьому Сайті застаріють, BBQ
                не зобов’язана оновлювати їх. BBQ за жодних обставин не несе відповідальності за будь-які збитки
                (включно з, але не обмежуючись збитком від втрати прибутку, даних або від переривання ділової
                активності), що виникли внаслідок використання, неможливості використання або результатів використання
                цього сайту.
                <h3>Зворотний зв’язок і коментарі</h3>
                Звертаючись до нас або залишаючи коментарі на сайті, ви несете відповідальність, що це повідомлення
                не є незаконним, шкідливим, загрозливим, наклепницьким, суперечить моральним нормам, порушує авторські
                права, пропагує ненависть і/або дискримінацію людей за расовою, етнічною, статевою, релігійною,
                соціальною ознаками, містить образи на адресу конкретних осіб або організацій, а також будь-яким іншим
                чином порушує чинне законодавство України. Ви погоджуєтеся, що будь-яке ваше повідомлення BBQ може
                видаляти без вашої на те згоди, а також безоплатно використовувати на власний розсуд. BBQ не несе
                відповідальності за будь-яку інформацію, розміщену користувачами Сайту.<br>

                <img src="{% static "img/restore.jpg" %} " class="img-fluid" alt="restore image">

                <h3>Гарантійне обслуговування в сервісному центрі</h3>
                Ви можете звертатися за гарантійним обслуговуванням до офіційного сервісного центру: м. Львів, вул.
                Романа Дашкевича, 3. Для звернення до сервісного центру із собою необхідно взяти:

                <ul class="unordered-list">
                    <li>товар з повною комплектацією;</li>
                    <li>документ, що підтверджує оплату.</li>
                </ul>
                Гарантія надається на термін <b>14</b> днів. Будь ласка, перевіряйте комплектність та відсутність дефектів у
                товарі під час отримання.
                <h3>Де можна обміняти чи повернути товар</h3>
                Обміняти чи повернути товар можна протягом <b>14</b> днів за допомогою служби доставки за рахунок покупця або у
                нашому сервісному відділі.
                <br>
                <b>Умови повернення:</b>
                <br>
                Для оформлення повернення візьміть із собою паспорт, чек і товар в упаковці. Ми повернемо вам кошти у
                день повернення товару або, у разі відсутності грошей у касі, не пізніше ніж через 7 днів..
                Ми оформляємо повернення, якщо:
                <ul class="ordered-list">
                    <li>товар не був у вжитку та не має слідів використання: подряпин, відколів, потертостей.</li>
                    <li>товар повністю укомплектований і не порушена цілісність упаковки;</li>
                    <li>збережено всі ярлики та заводське маркування.</li>
                </ul>
                <blockquote class="generic-blockquote">
                    Якщо товар вам не сподобався чи вас не влаштовує, ви можете оформити його повернення. Обмін та
                    повернення товарів відбувається <u>ЗА РАХУНОК ПОКУПЦЯ</u> протягом 14 днів із дня купівлі при умові
                    збереження товарного виду купленого виробу, упаковки, наявність документів, які підтверджують факт
                    покупки. На жаль, ми не зможемо прийняти повернення, якщо товар має сліди використання чи втратив
                    товарний вигляд.
                </blockquote>
                <h3>У яких випадках гарантія не надається:</h3>
                Сервісний центр може відмовити в гарантійному ремонті, якщо:
                <ul class="unordered-list">
                    <li>є механічні або інші пошкодження, які виникли внаслідок умисних або необережних дій покупця або
                        третіх осіб;
                    </li>
                    <li>було здійснено несанкціоноване розкриття, ремонт або змінено внутрішні комунікації та компоненти
                        товару, змінено конструкцію тощо;
                    </li>
                </ul>
                <h3>Гарантійні зобов’язання не поширюються на такі несправності:</h3>
                <ul class="unordered-list">
                    <li>природне зношення або вичерпання ресурсу;</li>
                    <li>випадкові пошкодження, завдані клієнтом, або пошкодження, що виникли внаслідок недбалого
                        ставлення або використання (вплив рідини, запиленості, потрапляння всередину корпусу сторонніх
                        предметів тощо);
                    </li>
                    <li>пошкодження в результаті стихійних лих (природних явищ);</li>
                    <li>пошкодження, викликані використанням товару не за призначенням або з порушенням правил
                        експлуатації.
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}