{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    TEST PAGE
{% endblock %}
{% block content %}

<div class="single-element-widget mt-30">
    <h3 class="mb-30">Selectboxes</h3>
    <div class="default-select" id="default-select_2">
        <select>
            <option value=" 1">English</option>
            <option value="1">Spanish</option>
            <option value="1">Arabic</option>
            <option value="1">Portuguise</option>
            <option value="1">Bengali</option>
        </select>
    </div>
</div>

{% endblock content %}