{#<div id="sidebar">#}
{#        <h3>Категорії</h3>#}
{#        <ul>#}
{#            <li {% if not category %}class="selected"{% endif %}>#}
{#                <a href="{% url "shop:product_list" %}">Всі</a>#}
{#            </li>#}
{#            {% for c in categories %}#}
{#                <li {% if category.slug == c.slug %}class="selected" {% endif %}>#}
{#                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </div>#}
<!--================Category Product Area =================-->
<section class="cat_product_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Категорії</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                {% for c in categories %}
                                    <li>
                                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>