{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Товари{% endif %}
{% endblock %}
{% block content %}
    {#    {% include "shop/product/category.html" %}#}

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Категорії</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    {% for c in categories %}
                                        <li>
                                            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row align-items-center latest_product_inner">
                        {% for product in products %}
                            <div class="col-lg-4 col-sm-6">
                                <div class="single_product_item">
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="
                                                            {% if product.image %}{{ product.image.url }}
                                                            {% else %}{% static "img/no_image.png" %}{% endif %}"
                                             alt="product_image" id="product-image">
                                    </a>

                                    <div class="single_product_text">
                                        <h4>{{ product.name }}</h4>
                                        <h3>${{ product.price }}</h3>
                                        <a href="{{ product.get_absolute_url }}" class="add_cart">+ деталі</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->

    {#            <div class="col-lg-12">#}
    {#                <div class="pageination">#}
    {#                    <nav aria-label="Page navigation example">#}
    {#                        <ul class="pagination justify-content-center">#}
    {#                            <li class="page-item">#}
    {#                                <a class="page-link" href="#" aria-label="Previous">#}
    {#                                    <i class="ti-angle-double-left"></i>#}
    {#                                </a>#}
    {#                            </li>#}
    {#                            <li class="page-item"><a class="page-link" href="#">1</a></li>#}
    {#                            <li class="page-item"><a class="page-link" href="#">2</a></li>#}
    {#                            <li class="page-item"><a class="page-link" href="#">3</a></li>#}
    {#                            <li class="page-item"><a class="page-link" href="#">4</a></li>#}
    {#                            <li class="page-item"><a class="page-link" href="#">5</a></li>#}
    {#                            <li class="page-item"><a class="page-link" href="#">6</a></li>#}
    {#                            <li class="page-item">#}
    {#                                <a class="page-link" href="#" aria-label="Next">#}
    {#                                    <i class="ti-angle-double-right"></i>#}
    {#                                </a>#}
    {#                            </li>#}
    {#                        </ul>#}
    {#                    </nav>#}
    {#                </div>#}
    {#            </div>#}



    {#    --------------------------------------------------------------------------------------------------#}

    {#    <div id="main" class="product-list">#}
    {#        <h1>{% if category %}{{ category.name }}{% else %}Товари{% endif %}</h1>#}
    {#        {% for product in products %}#}
    {#            <div class="item">#}
    {#                <a href="{{ product.get_absolute_url }}">#}
    {#                    <img src="#}
    {#                        {% if product.image %}{{ product.image.url }}#}
    {#                        {% else %}{% static "img/no_image.png" %}{% endif %}" alt="product_image">#}
    {#                </a>#}
    {#                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>#}
    {#                <br>#}
    {#                ${{ product.price }}#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    </div>#}
{% endblock %}